* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
}

:root {
    --test-border: 2px solid red;
    --main-gold: rgb(180,163,101);
    --secondary-black: rgba(0,0,0, .1);
}
/* nav */
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--main-gold);
    background-color: var(--secondary-black);
    gap: 2rem;
}

#nav > div > button {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
    height: 2.5rem;
    background-color: transparent;
    color: var(--main-gold);
}
#nav > div > button:hover {
    border-bottom: 2px solid var(--main-gold);
}

/* affects all other css in content */
#content {
    background-color: var(--secondary-black);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* footer */
#footer {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--main-gold);
    background-color: var(--secondary-black);
    color: var(--main-gold);
}

#video {
    width: 100%;
    filter: blur(3px);
}
